.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  margin-right: 15px;
}

.console-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #a0a0b1;
  border-radius: 8px;
  transition: all 0.2s;
  margin-left: 10px;
  gap: 10px;
}

.chevron-icon {
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.run-button,
.submit-button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 20px;
}

.run-button {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #a0a0b1;
}

.run-button:hover {
  background-color: hsla(0, 0%, 100%, 0.062);
}

.submit-button {
  background-color: #4caf50;
  color: white;
}

.submit-button:hover {
  background-color: #66bb6a;
}

.console-button:hover {
  background-color: hsla(0, 0%, 100%, 0.062);
}
