body {
  overflow: hidden;
}

@font-face {
  font-family: "Segoe UI1";
  src: url("../../assests/fonts/font1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI2";
  src: url("../../assests/fonts/font2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI3";
  src: url("../../assests/fonts/font3.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI4";
  src: url("../../assests/fonts/font4.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Actor&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.split {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
}

.left-container {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

.split-playgroun {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  --tw-bg-opacity: 1;
  background-color: rgb(40 40 40 / var(--tw-bg-opacity));
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  background-position: center;
  background-repeat: no-repeat;
}

.workspace-container {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
}

.workspace-tab {
  font-size: 18px;
  user-select: none;
  font-family: "Segoe UI2";
}

.ws-problem-details {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.ws-problem-name {
  margin-top: 15px;
  font-family: "Segoe UI2";
  font-size: 16px;
  font-weight: normal;
  user-select: none;
}

.ws-problem-level {
  width: fit-content;
  padding: 5px;
  border-radius: 9999px;
  margin-top: 15px;
  font-family: "Inter";
  font-weight: normal;
  font-size: 11px;
  user-select: none;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.difficult {
  color: #f8615c;
}

.beginner {
  color: #46c6c2;
}

.intermediate {
  color: #fac31d;
}

.ws-problem-description {
  margin-top: 15px;
}

.ws-problem-description span {
  display: block;
  margin-top: 15px;
  font-family: "Segoe UI3";
  user-select: none;
}

.ws-problem-examples {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ex-name {
  font-family: "Segoe UI2";
  font-size: 16px;
  font-weight: normal;
  user-select: none;
}

.inandout {
  margin-top: 10px;
  padding: 15px 15px;
  width: calc(93% - 5px);
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 10px;
}

.inandout p {
  color: rgba(239, 241, 246, 0.75);
  font-family: "Spline Sans Mono", monospace;
  font-size: 16px;
  user-select: none;
  line-height: normal;
  margin-bottom: 5px;
}

.inandout span {
  font-family: "Segoe UI2";
  font-size: 16px;
  user-select: none;
  color: white;
}
